<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/style.css">
    
</head>
<body>
    <header>
        <nav>
            <div class="left">Abhay's Portfolio</div>
            <div class="right">
                <ul>
                    <li><a href="./">Home</a></li>
                    <li><a href="./about">About</a></li>
                    <li><a href="./Skills">Skills</a></li>
                    <li><a href="./project">Projects</a></li>
                    <li><a href="./contact">Contact Me</a></li>
                </ul>
            </div>
        </nav>
    </header>
<section4 class="fourth-Section">
    <h1>Contact Me</h1>
    <div class="contactme">


        <h2 class="aboutus text-center fw-bold" style="color:rgb(20 184 166 )">
            Have any query?
        </h2>

        <p class="contactrow text-light  text-center">
            Let us know how I can help and respond shortly! 
        </p>

        <div class="response text-center justify-content-center">


            <form class="form">
                <div class="flex flex-col">
                    <br />
                    <label for="name" class="text-white text-start font-medium mb-1">
                        Name
                    </label>
                    <br />
                    <input type="text" id="name" class="render" />
                </div>

                <div class="flex flex-col text-center">
                    <br />
                    <label for="email" class="text-white text-start font-medium mb-1">
                        Email
                    </label>
                    <br />
                    <input type="email" id="email" name="email" required="" class="render" value="" />
                </div>


                <div class="flex flex-col text-center">
                    <br />
                    <label for="number" class="text-white text-start font-medium mb-1">
                        Phone Number
                    </label>
                    <br />
                    <input type="number" id="number" name="number" required="" class="render" value="" />
                </div>

                <div class="flex flex-col text-center">
                    <br />
                    <label for="message" class="text-white text-start font-medium mb-1">
                        Message
                    </label>
                    <br />
                    <input type="text" id="message" name="message" required="" class="render" value="" />
                </div>
                <br />
                <button type="submit" class="submit">
                    Submit
                </button>
            </form>
        </div>
    </div>
</section4>
</body>


</html>