<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
</head>
<link rel="stylesheet" href="/style.css">


<body>
    <header>
        <nav>
            <div class="left">Abhay's Portfolio</div>
            <div class="right">
                <ul>
                    <li><a href="./">Home</a></li>
                    <li><a href="./about">About</a></li>
                    <li><a href="./Skills">Skills</a></li>
                    <li><a href="./project">Projects</a></li>
                    <li><a href="./contact">Contact Me</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>

        <section class="firstSection">
            <div class="leftSection">
                Hi, My name is <span class="purple">Abhay</span>
                <div> and I am passionate about</div>
                <span id="element"></span>
            </div>
            <div class="rightSection">
                <img src="/media/developer.png" alt="">
            </div>
        </section>
        <hr />
        <section class="aboutSection" id="about">
            <h1>About Me</h1>
            <p>
                Hello! I'm Abhay Chouhan. Student at <strong>Maulana Azad National Institute of Technology
                    <br />(MANIT), Bhopal</strong>, currently pursuing b-tech in <strong>Mechanical
                    Engineering</strong>.
                <br><br>
                While my academic background is in core engineering, I've found a deep passion <br />for <strong>web
                    development</strong>. I love building interactive, user-friendly web applications<br /> and
                continuously learning new technologies to sharpen my skills.
                <br><br>
                Whether it's designing sleek front-end interfaces or working on back-end logic,<br /> I enjoy turning
                ideas into real-world solutions.
            </p>
        </section>
        <hr />
        <section class="secondSection">
            <h1>Skills</h1>
            <div class="skill">
                <img src="../media/pngwing.com (13).png" alt="">
                <img src="../media/pngwing.com (5).png" alt="">
                <img src="../media/pngwing.com (7).png" alt="">
                <img src="../media/pngwing.com (8).png" alt="">
                <img src="../media/pngwing.com (9).png" alt="">
                <img src="../media/pngwing.com (6).png" alt="">
                <img src="../media/pngwing.com (10).png" alt="">
                <img src="../media/pngwing.com(16).png" alt="">
                <img src="" alt="">
                <img src="../media/pngwing.com (15).png" alt="">
                <img src="../media/pngwing.com (14).png" alt="">


            </div>

        </section>
        <hr />

        <section class="third-Section">
            <h1 style="color: #9c97f1;">project</h1>
            <div class="project">

                <div class="project1">
                    <div class="card" style="width: 18rem;background-color: rgb(18, 18, 62);color: white;">
                        <img src="/media/Screenshot 2025-04-19 013436.png" style="border-radius:12px ;"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Wanderlust: Find Your BnB</h5>
                            <p class="card-text">Wanderlust offers a curated selection of stays, ranging from cozy
                                countryside cottages to
                                modern urban apartments, providing travelers ...</p>
                            <a href="/media/https://delta-demo-4bf5.onrender.com/listings"
                                class="btn btn-primary">click</a>
                        </div>
                    </div>
                </div>
                <div class="project2">
                    <div class="card" style="width: 18rem;background-color: rgb(18, 18, 62);color: white;">
                        <img src="/media/Screenshot 2025-04-19 013457.png" style="border-radius:12px ;"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Full-Stack-Stock-Trading -Platform</h5>
                            <p class="card-text">A full-stack stock trading platform design for seamless trading, and a
                                smooth user experience. </p>
                            <a href="https://full-stack-trading-platform.vercel.app/" class="btn btn-primary">click</a>
                        </div>
                    </div>
                </div>
                <div class="project3">
                    <div class="card" style="width: 18rem;background-color: rgb(18, 18, 62);color: white;">
                        <img src="/media/Screenshot 2025-04-19 013907.png" style="border-radius:12px ;"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Cloudpoint - API based Weather Application</h5>
                            <p class="card-text"> Weather API based application for real-time weather information with
                                additional functionalities
                                using- react, html,bootstrap,javascript, </p>
                            <a href="https://mini-weather-app-six.vercel.app/" class="btn btn-primary">click</a>
                        </div>
                    </div>
                </div>
                
            </div>

        </section>
        <hr />
        <section4 class="fourth-Section">
            <h1>Contact Me</h1>
            <div class="contactme">


                <h2 class="aboutus text-center fw-bold" style="color:rgb(20 184 166 )">
                    Have any query?
                </h2>

                <p class="contactrow text-light  text-center">
                    Let us know how I can help and respond shortly!
                </p>

                <div class="response text-center justify-content-center">


                    <form class="form">
                        <div class="flex flex-col">
                            <br />
                            <label for="name" class="text-white text-start font-medium mb-1">
                                Name
                            </label>
                            <br />
                            <input type="text" id="name" class="render" />
                        </div>

                        <div class="flex flex-col text-center">
                            <br />
                            <label for="email" class="text-white text-start font-medium mb-1">
                                Email
                            </label>
                            <br />
                            <input type="email" id="email" name="email" required="" class="render" value="" />
                        </div>


                        <div class="flex flex-col text-center">
                            <br />
                            <label for="number" class="text-white text-start font-medium mb-1">
                                Phone Number
                            </label>
                            <br />
                            <input type="number" id="number" name="number" required="" class="render" value="" />
                        </div>

                        <div class="flex flex-col text-center">
                            <br />
                            <label for="message" class="text-white text-start font-medium mb-1">
                                Message
                            </label>
                            <br />
                            <input type="text" id="message" name="message" required="" class="render" value="" />
                        </div>
                        <br />
                        <button type="submit" class="submit">
                            Submit
                        </button>
                    </form>
                </div>
            </div>
        </section4>
    </main>

    <footer>
        <div class="footer">
            <div class="footer-first">
                <h3>Abhay's Portfolio</h3>
            </div>
            <div class="footer-second">
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Services</li>
                    <li>Contact</li>

                </ul>
            </div>
            <div class="footer-third">
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Services</li>
                    <li>Contact</li>

                </ul>
            </div>
            <div class="footer-fourth">
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Services</li>
                    <li>Contact</li>

                </ul>
            </div>
        </div>
        <div class="footer-rights">
            Copyright &#169; portfolio.com | All rights reserved
        </div>
    </footer>
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script>
        var typed = new Typed('#element', {
            strings: ['Web Development', 'Web Development '],
            //   strings: ['Web Developer','Web  Designer','Vedio editor','Web Developer'],
            typeSpeed: 50,
        });
    </script>
</body>



</html>