<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/style.css">
      
    </head>
<body>
    <header>
        
        <nav>
            <div class="left">Abhay's Portfolio</div>
            <div class="right">
                <ul>
                    <li><a href="./">Home</a></li>
                    <li><a href="./about">About</a></li>
                    <li><a href="./Skills">Skills</a></li>
                    <li><a href="./project">Projects</a></li>
                    <li><a href="./contact">Contact Me</a></li>
                </ul>
            </div>
        </nav>
    </header>
<section class="third-Section">
    <h1 style="color: #9c97f1;">project</h1>
    <div class="project">

        <div class="project1">
            <div class="card" style="width: 18rem;background-color: rgb(18, 18, 62);color: white;">
                <img src="media/Screenshot 2025-04-19 013436.png" style="border-radius:12px ;"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Wanderlust: Find Your BnB</h5>
                    <p class="card-text">Wanderlust offers a curated selection of stays, ranging from cozy
                        countryside cottages to
                        modern urban apartments, providing travelers ...</p>
                    <a href="media/https://delta-demo-4bf5.onrender.com/listings"
                        class="btn btn-primary">click</a>
                </div>
            </div>
        </div>
        <div class="project2">
            <div class="card" style="width: 18rem;background-color: rgb(18, 18, 62);color: white;">
                <img src="../media/Screenshot 2025-04-19 013457.png" style="border-radius:12px ;"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Full-Stack-Stock-Trading -Platform</h5>
                    <p class="card-text">A full-stack stock trading platform design for seamless trading, and a
                        smooth user experience. </p>
                    <a href="https://full-stack-trading-platform.vercel.app/" class="btn btn-primary">click</a>
                </div>
            </div>
        </div>
        <div class="project3">
            <div class="card" style="width: 18rem;background-color: rgb(18, 18, 62);color: white;">
                <img src="../media/Screenshot 2025-04-19 013907.png" style="border-radius:12px ;"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cloudpoint - API based Weather Application</h5>
                    <p class="card-text"> Weather API based application for real-time weather information with
                        additional functionalities
                        using- react, html,bootstrap,javascript, </p>
                    <a href="https://mini-weather-app-six.vercel.app/" class="btn btn-primary">click</a>
                </div>
            </div>
        </div>
     
    </div>

</section>
</body>


</html>